/* src/pages/IvaVentas/components/EditInvoiceModal/EditInvoiceModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  -webkit-backdrop-filter: blur(4px); /* Para Safari */
  backdrop-filter: blur(4px); /* Para otros navegadores modernos */
}

.modal-content {
  background-color: var(--sidebar-bg-color);
  padding: 36px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px; /* Ajusta el ancho máximo del modal */
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 16px;
  margin-bottom: 24px;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  color: var(--text-muted-color);
  cursor: pointer;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  gap: 28px 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 3rem 0 0;
}

.form-field label {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--text-muted-color);
}

.form-field input,
.form-field select {
  padding: 12px 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  font-size: 1rem;
}

/* Estilo para campos de solo lectura */
.form-field-readonly input {
  background-color: var(--border-color);
  cursor: not-allowed;
  opacity: 0.8;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding-top: 24px;
  border-top: 1px solid var(--border-color);
  margin-top: 8px;
}
.modal-footer .btn-primary {
    background-color: var(--primary-color);
}

.modal-footer .btn-primary:hover {
    /* Un poco más oscuro al pasar el ratón */
    filter: brightness(0.9);
}
/* === MEJORAS VISUALES DEL FORMULARIO === */

/* 1. Ocultar las flechas en los inputs de tipo "number" */

/* Para Chrome, Safari, Edge, Opera */
.form-field input[type=number]::-webkit-outer-spin-button,
.form-field input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
.form-field input[type=number] {
  -moz-appearance: textfield; /* Para Firefox */
  appearance: textfield;       /* Para navegadores estándar modernos */
}