/* --- Sección del Dashboard (Gráficos) --- */
.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.chartPlaceholder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted-color);
  border: 5px solid var(--border-color);
  font-weight: 600;
  text-align: center;
}