.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--text-muted-color);
}

.input {
  padding: 12px 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--accent-color) 20%, transparent);
}

/* Para estados especiales */
.input:read-only,
.input:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
  opacity: 0.8;
}

/* Ocultar flechas en inputs de tipo "number" */
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
  appearance: textfield;
}
[data-theme="dark"] .input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
[data-theme="dark"] .input:read-only,
[data-theme="dark"] .input:disabled {
  background-color: #222b4c; 
  color: var(--text-muted-color); 
  opacity: 1;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.eyeButton {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  color: var(--text-muted-color);
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.eyeButton:hover {
  color: var(--primary-color);
}

/* Si es un input de tipo password, le damos padding derecho para que el texto no se superponga con el icono */
.inputContainer input[type="password"],

/* Regla más específica: si el input contenedor tiene un eyeButton dentro, el input debe tener padding derecho */
.inputContainer:has(.eyeButton) .input {
  padding-right: 40px; 
}