.chart-card {
  min-height: 250px; 
}

.chartCard > div:last-child { /* Seleccionamos el .cardContent que Card renderiza */
    display: flex;
    flex-direction: column;
    align-items: center;    /* Centramos el contenido del gráfico horizontalmente */
    justify-content: center; /* Centramos el contenido del gráfico verticalmente */
    flex-grow: 1;
}