.chart-card {
  min-height: 380px; 
}

.chartCard > div:last-child { 
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    flex-grow: 1;
}