.card {
    background-color: var(--sidebar-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    
    height: 100%; /* Ocupa toda la altura de la celda de la grilla */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.cardHeader {
  padding: 0 0 20px 0;
  border-bottom: 1px solid var(--border-color);
  flex-shrink: 0;
}

.cardTitle {
  margin: 0;
  font-size: 1.25rem; /* Un poco más grande para destacar */
  font-weight: 600;
}
.cardContent {
  padding: 24px 0 0 0; 
  flex-grow: 1; /* El contenido ocupa el espacio restante */
  display: flex;
  flex-direction: column;
}